<div class="text-white">
    <video #videoPlayer class="object-cover object-top fixed top-0 left-0 w-screen h-screen -z-10" loop src="../assets/homebackground.mp4"></video>
    
    <div class="top-0 w-screen h-screen fixed bg-gradient-to-r from-[#7083FF4d] to-[#FF68C34d] -z-10"></div>
    <div class="top-0 w-screen h-screen fixed bg-[#000000b3] -z-10"></div>

    <div class="mt-12 px-14 w-full">
        <nav class="grid grid-cols-3">
          
            <div class="w-full text-4xl">
                <a class="font-semibold" routerLink="/">Elliot Parker</a> 
            </div>
          
            <div class="group text-2xl mt-2 whitespace-nowrap font-light flex flex-row justify-center text-center relative">
                <a *ngFor="let item of navItems" class="w-36 hover:font-normal hover:border-solid" [routerLink]="item.routerLink">{{item.name}}</a>
                <span class="absolute top-9 rounded-full left-[4.5rem] transition-transform group-hover:translate-x-[520%] h-[2px] w-7 bg-white"></span>
            </div>
            
            <div class="flex justify-end">
                <div class="flex flex-row mt-2 gap-7">
    
                    <a *ngFor="let item of socialItems" [href]="item.url" target="_blank">
                        <button class="cursor-pointer rounded-full h-9 w-9 bg-gradient-to-r from-[#ffffff66] to-[#ffffff0d] border-2 border-solid border-[#ffffff99] backdrop-blur-sm">
                            <fa-icon [icon]="item.icon"></fa-icon>
                        </button>
                    </a>
                    
                </div>
            </div>
        </nav>

        <div name="videoDetailsModal" class="fixed bottom-0 left-1/2 -translate-x-1/2 w-[91vw] z-20 h-[71vh] overflow-auto scrollbar-hide 
            bg-[#121212] bg-opacity-90 border-[1px] border-[#fffff9] border-b-0 backdrop-blur-2xl
            p-12 rounded-tl-2xl rounded-tr-2xl flex gap-20 align-middle" [class.hidden]="!isDetailsModalOpen">

            <button class="absolute top-0 right-0 m-2 hover:bg-[#2c2c2c] active:bg-opacity-40 w-10 h-10 rounded-full" (click)="isDetailsModalOpen = false">
                <fa-icon class="h-full w-full text-xl" [icon]="closeIcon"></fa-icon>
            </button>
            
            <iframe [src]="sanitizeUrl(selectedVideo.url)" allowfullscreen class="w-[41vw] h-[23.2vw] border-[1px] border-[#343434] aspect-video rounded-2xl"></iframe>
            <div>
                <h2 class="text-3xl font-bold">{{selectedVideo.name}}</h2>
                <br />
                <p class="text-xl" [innerHtml]="selectedVideo.description">
                </p>
            </div>
        </div>
      

            <main [@moveFromRight]="prepareRoute(outlet)" class="fixed overflow-hidden w-[90vw] h-screen top-72 left-1/2 -translate-x-1/2">
                <router-outlet class="absolute w-full h-full" #outlet="outlet"></router-outlet>
            </main>

    </div>
</div>
