<div class="flex flex-col lg:flex-row
            h-[80vh] w-full bg-[#121212] overflow-auto bg-opacity-40 backdrop-blur-xl rounded-tl-3xl rounded-tr-3xl border-[1px] border-[#fffff970] border-b-0">
    <div class="flex flex-col items-center w-fit p-16 gap-4 bg-[#121212] bg-opacity-40 rounded-tl-3xl min-w-fit">
        <img class="rounded-full w-60" src="../../../assets/images/elliot.png" />
        <h3 class="text-xl font-semibold">Elliot Parker</h3>
        <p class="text-center">
            Motion Designer, <br/>
            Videomaker, <br/>
            UI/UX Designer <br/>
        </p>
    </div>
    <div class="flex flex-col px-28 items-center overflow-auto scrollbar-hide">
        <p class="text-2xl pt-20 text-justify">
            <i>Hello my name is Pedro, but you can call me Parker, Elliot Parker... </i> <br/>
            <br/>
            Motion designer situado em São Paulo. <br/>
            <br/>
            23 anos, apaixonado por cultura pop, música, filmes, séries e games. <br/>
            <br/>
            Desde criança sempre tive contato com a arte, é algo que me inspira a sempre criar algo novo e diferente. 
            Com 11 anos já tinha o interesse pelo audiovisual, criando minhas primeiras edições no Movie Maker, e o que era um hobby para mim, se tornou minha paixão e carreira.


        </p>
        <p class="text-center my-28 -ml-40 font-light italic text-xl">
            "A famous explorer once said that <br/>
            the extraordinary is in what we do not who we are"
        </p>
    </div>
</div>